bin/annotations/all_users.json
bin/llm_zeroshot/old/
bin/annotation_llm/steps.txt
bin/batch_translation/module 
__pycache__/
question_type_analysis
CulturalBench_ICLR
data/annotations
data/crawled_images_old
data/images_collection
data/QA
data/image_desc_qa_splits_mm
data/image_desc_qa_splits
jordan_food_Images
data/crawled_images/
data/images
data/MultiNativQA
data/speech
data/topic_query
data/archive/
data/queries
data/queries/combined_queriesaa.jsonl
data/queries/combined_queriesab.jsonl
data/queries/combined_queriesac.jsonl
data/queries/combined_queriesad.jsonl
data/cached_dir/
data/queries/topics/cache
data/queries/old_queries
data/speech/stats
examples/
envs/
bin/.ipynb_checkpoints/
bin/archive
output/
output_queries_v1/
data/queries/raw

bin/filtering/__pycache__/
data/queries/cached_dir/
cached_dir
bin/generate_QA/__pycache__/
logs/
tmp
data/queries/cached_dir/
.ipynb_checkpoints/
.DS_Store
**/.DS_Store 
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
